<tbody id="table">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= check_box_tag(:done) %></td>
        <td class="tasks"><%= task.name %></td>
        <td class="move control" onselectstart="return false" onmousedown="return false">move</td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Del', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</tbody>
