// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
		position: relative;
                margin: auto; /* Выравниваем таблицу по центру окна  */
                width: 800px !important;
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
}
thead tr th { background: linear-gradient(to top, #1641ac, #1C52D9);}//градиент
tbody tr td {background: #FFFFFF;}

tr:last-child td:first-child {border-radius: 0 0 0 10px;}
tr:last-child td:last-child {border-radius: 0 0 10px 0;}
tr td:last-child {border-right: none;}
tr{
	position: relative;
}
.move { 
cursor: move;
border-left: 1px solid #D6D6D6;

 }

/*add task*/
th {
background: #E0E0E0;
color: white;
text-shadow: 0 1px 1px #2D2020;
padding: 5px 0px;
}
.control{
	
	padding: 0px;
	margin: 0px;
	width: 5.5%;
}
#submit{
	padding: 0px 0px;
	
}
.tasks{
	width: 77%;
	padding: 10px 20px;
	/*margin: 20%; /* Отступы вокруг элемента */
}
.projects{
	input{
		width: 100%;
	}
}
th.done{ //style for adding New Task in Project
        padding-top: 13px;
        padding-left: 11px;
        padding-right: 4px;
        font-size: 250%;
        color: green;
}

#addTDL{
margin-left: 48%;
position: absolute;
bottom: 50px;
}
.contrpl{width: 100px;}
.stroked{text-decoration: line-through;}
.span2{ width: 600px !important;}
.addTask{width: 150px !important;}
.input-append{border: 0; margin: 0; padding: 0;}