<footer class="footer">
	  <small>
    <a href="http://vk.com/neon_ua">for Ruby Garage</a>
    by Galenko
  </small>
  <nav>
    <ul  class="footer">
      <li>Help</li>
      <li>About</li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>