<footer class="footer">
	  <small>
      for Ruby Garage <a href="http://vk.com/neon_ua"> by Galenko</a>
    </small>
  <nav>
    <ul  class="footer">
      <li>Help</li>
      <li>About</li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>