<header class="navbar navbar-fixed-top navbar-inverse">
  
    <div class="container">
      <%= link_to "ToDoList", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-left">
          <li><%= link_to "SQL Tas" %></li>  
          <li><%= link_to "Lists", todolist_path%></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </nav>
    </div>
  
</header>